:root {
  --verion-lib: 1.4
}

:root {
  --p-background-primary: #FFFFFF;
  --p-background-secondary: #FFFFFF;
  --p-background-tertiary: #FFFFFF;
  --p-background-gray: #F5f5f5;
  --p-transparent: transparent;
  --p-note: #FFB4001A;
  --p-banner-main: #FFFFFF;
  --p-banner-shade: #FFFFFF;
  --p-banner-tint: #FFFFFF;
  --p-undefined: transparent;
  --p-none: transparent;
  --p-primary-main: #0375f8;
  --p-primary-shade: #004fc2;
  --p-primary-tint: #3692fc;
  --p-primary-low: #f2f5ff;
  --p-primary-low-shade: #eaeefc;
  --p-primary-contrast: #FFFFFF;
  --p-primary-outline-border: #0375f8;
  --p-secondary-main: #070e27;
  --p-secondary-shade: #000000;
  --p-secondary-tint: #0f193e;
  --p-secondary-low: #F5F5F5;
  --p-secondary-low-shade: #efefef;
  --p-secondary-contrast: #FFFFFF;
  --p-secondary-outline-border: #DDDFE3;
  --p-error-main: #D92D20;
  --p-error-shade: #AB2F26;
  --p-error-tint: #FF493C;
  --p-error-low: #FFF0EF;
  --p-error-low-shade: var(--p-undefined);
  --p-error-contrast: #FFFFFF;
  --p-error-outline-border: #F99992;
  --p-warning-main: #ED6C02;
  --p-warning-shade: #C77700;
  --p-warning-tint: #FFB547;
  --p-warning-low: #FEF3EB;
  --p-warning-low-shade: var(--p-undefined);
  --p-warning-contrast: #FFFFFF;
  --p-warning-outline-border: #F6B580;
  --p-success-main: #4CAF50;
  --p-success-shade: #3B873E;
  --p-success-tint: #3ED598;
  --p-success-low: #F1F9F1;
  --p-success-low-shade: var(--p-undefined);
  --p-success-contrast: #FFFFFF;
  --p-success-outline-border: #A5D7A7;
  --p-info-main: #1588F2;
  --p-info-shade: #0869C2;
  --p-info-tint: #46B0FD;
  --p-info-low: #F0F3FA;
  --p-info-low-shade: var(--p-undefined);
  --p-info-contrast: #FFFFFF;
  --p-info-outline-border: #86C7F5;
  --p-disabled-main: var(--p-gray-scale-100);
  --p-disabled-shade: var(--p-undefined);
  --p-disabled-tint: var(--p-undefined);
  --p-disabled-low: var(--p-undefined);
  --p-disabled-low-shade: var(--p-undefined);
  --p-disabled-contrast: var(--p-gray-scale-400);
  --p-disabled-outline-border: var(--p-undefined);
  --p-disabled-button-main: #E3EAFD;
  --p-disabled-button-shade: var(--p-undefined);
  --p-disabled-button-tint: var(--p-undefined);
  --p-disabled-button-low: var(--p-undefined);
  --p-disabled-button-low-shade: var(--p-undefined);
  --p-disabled-button-contrast: #95A8C5;
  --p-disabled-button-outline-border: var(--p-undefined);
  --p-basic-0: #FFFFFF;
  --p-gray-scale-50: #FAFAFA;
  --p-gray-scale-100: #F1f2f3;
  --p-gray-scale-200: #E6eaef;
  --p-gray-scale-300: #CBCFD8;
  --p-gray-scale-400: #AAB1BC;
  --p-gray-scale-500: #818C9E;
  --p-gray-scale-700: #3B4B63;
  --p-basic-1000: #101820;
  --p-delete: var(--p-error-main);
  --p-complement: #784AFF;
  --p-text-primary: #101820;
  --p-text-secondary: #3b4b63;
  --p-text-disabled: #a5adba;
  --p-text-primary-main: #00000061;
  --p-text-delete: var(--p-delete)
}
